<div class="footer">
    <div class="foot">
        <div class="detail">
            <div class="cont">
                <h2>CONTACT US</h2>
            </div>
            <div class="n">
                <h3>S N  MACHINERY</h3>
                <h3>GST : 09AUHPR8235M2ZT</h3>
            </div>
            <div class="add">
                <h3>C - 202, Third Floor, M/S Printo Tech India, Sector - 10,Noida - 201301, Uttar Pradesh, India </h3>
                <h3>Phone :08061033461</h3>
            </div>
            <div class="pn">
                <h3>Mr Shashi Raj (Proprietor)</h3>
                <h3>Mobile :08061033461</h3>
            </div>
        </div>
    </div>
    <div class="fo">
        <h3>S N MACHINERY All Rights Reserved</h3>
        <h3>Developed and Managed by <a href="/admin/login">S N MACHINERY</a></h3>
    </div>
</div>