<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/about.css">


    <!-- <div class="nav">
        <div class="logo"><a href="http://localhost:3200/home">
            <img src="/assets/icon.png"></a>
            <a href="http://localhost:3200/home" class="l-text"> S N Machinery </a>
        </div>
        <div class="option">
            <ul class="ul" >
                <li class="menu"><a href="http://localhost:3200/home">Home</a></li>
                <li class="menu"><a href="http://localhost:3200/about">About Us</a></li>
                <li class="menu"><a href="http://localhost:3200/products">Products</a></li>
                <li class="menu"><a href="http://localhost:3200/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="search hide">
                <form action="Error404.html" class="search-form">
                <input class="search-box" type="text" placeholder="search" name="search">
                <input name="submit" type="image" src="/assets/search-png.png" class="search-icon">
            </form>
        </div>
    </div> -->
    <div class="img-bar">
        <img src="/assets/ag.png" class="img-1">
    </div>
    <div class="about">
        <div class="co">
            <h1>Company Profile</h1>
        </div>
        <div class="para">
            <p>As a company that places a high priority on quality, we, S N Machinery, have been providing all of our customers with products of the highest standard. Our facility is located in the industrially renowned city of Noida, Uttar Pradesh, India, where we get premium range of products from leading vendors in the market. Our distinctive range of products, which includes Automatic Non Woven Bag Making Machine, Paper Cup Making Machine, Fully Automatic Agarbatti Making Machine, etc., are all ensured to comply with the highest quality norms. The price range of our products is also kept reasonable for the benefit of customers. Additionally, we make sure to complete customer orders as promptly as possible.</p>
        </br>
            <h1>Key Facts of S N Machinery:</h1>
            <table>
                <tr>
                    <th>Nature of Business</th>
                    <th>Supplier and Trader</th>
                </tr>
                <tr>
                    <th>Year of Establishment</th>
                    <th>2020</th>
                </tr>
                <tr>
                    <th>Company Location</th>
                    <th>Noida, Uttar Pradesh, India</th>
                </tr>
                <tr>
                    <th>Brand Name</th>
                    <th>Hungton, Small Business Solution, etc.</th>
                </tr>
                <tr>
                    <th>No. of Employees</th>
                    <th>10</th>
                </tr>
                <tr>
                    <th>Annual Turnover</th>
                    <th>INR 50 Lakh</th>
                </tr>
                <tr>
                    <th>Banker</th>
                    <th>IndusInd Bank</th>
                </tr>
                <tr>
                    <th>GST No.</th>
                    <th>09AUHPR8235M2ZT</th>
                </tr>
            </table>
        </div>
    </div>
    <!-- <div class="footer">
        <div class="foot">
            <div class="details">
                <div class="cont">
                    <h2>CONTACT US</h2>
                </div>
                <div class="n">
                    <h3>S N MACHINERY</h3>
                    <h3>GST : 09AUHPR8235M2ZT</h3>
                </div>
                <div class="add">
                    <h3>C - 202, Third Floor, M/S Printo Tech India, Sector - 10,Noida - 201301, Uttar Pradesh, India </h3>
                    <h3>Phone :08061033461</h3>
                </div>
                <div class="pn">
                    <h3>Mr Shashi Raj (Proprietor)</h3>
                    <h3>Mobile :08061033461</h3>
                </div>
            </div>
        </div>
        <div class="fo">
            <h3>S N MACHINERY All Rights Reserved</h3>
            <h3>Developed and Managed by <a href="http://localhost:3200/home">S N MACHINERY</a></h3>
        </div>
    </div> -->