<% layout("/layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/contact.css">


    <div class="img-bar">
        <img src="/assets/ag.png" class="img-1">
    </div>
    <div class="main">
        <div class="co-1">
            <h1>Contact Details</h1>
            <div class="x"></div>
            <div class="name">
                <div class="ab">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="cd">
                    <h3>Mr. Shashi Raj</h3>
                    <h4>Proprietor</h4>
                </div>
            </div>
            <div class="mob">
                <i class="fa-solid fa-phone"></i>
                <h5>Mobile: 08061033461</h5>
            </div>
            <div class="addr">
                <i class="fa-solid fa-location-dot"></i>
                <h3>C - 202, Third Floor, M/S Printo Tech India, Sector - 10,Noida-201301, Uttar Pradesh, India</h3>
            </div>
        </div>
        <div class="co-2">
            <div class="inn">
                <h1>Contact Us</h1>
                <form>
                    <input placeholder="Enter Mobile number" class="in-mo">
                    <textarea placeholder="Describe your requirment" class="desc"></textarea>
                    <button type="submit" class="desc-sub">Submit</button>
                </form>
            </div>
        </div>
    </div>